.top-slider .slider-images {
    position: relative;
    background: url("../images/epic-seasons/slider1.jpg");
    background-size: cover;
    height: calc(100vh - 205px);
    background-position: center;
    display: flex;
    align-items: center;
}
.top-slider .slider-logo {
    position: relative;
    left: -45px;
}
.top-slider .slider-logo h3 {
    font-family: "Black";
    font-size: 111px;
    color: #CFCD93;
    text-transform: uppercase;
    padding-left: 45px;
    line-height: 94%;
    margin-bottom: 0;
}
marquee {
    background-color: #CFCD93;
}
.epic-seasons-carousel {
    background-color: #000;
    padding: 100px 0;
    overflow-x: hidden;
}
.epic-seasons-carousel .epic-seasons-carousel-header {
    position: relative;
}
.epic-seasons-carousel .epic-seasons-carousel-header h2 {
    font-family: "ExtraBold";
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    background: #000;
    width: max-content;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    padding: 0 20px;
    margin-bottom: 20px;
}
.epic-seasons-carousel-slider .slick-list  {
    overflow: visible;
}
.epic-seasons-carousel-slider .slick-track .slick-slide {
    padding: 10px;
    position: relative;
}
.epic-seasons-carousel-slider .slick-track .slick-slide img {
    padding: 4px;
    width: 100%;
}
.epic-seasons-carousel-slider .slick-track .slick-slide:nth-child(3) img {
    border: 5px solid #CFCD93;
}

.epic-seasons-carousel-slider .slick-track .slick-slide:nth-child(3):before {
    content: '';
    position: absolute;
    right: 35px;
    top: 45px;
    background-image: url(../images/epic-seasons/check.svg);
    width: 54px;
    height: 54px;
    background-size: 100%;
}
.epic-seasons-carousel-slider .slick-track .slick-slide:not(.slick-current):after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.7;
}
.epic-seasons-carousel .epic-seasons-carousel-header .title-border-bottom {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 50%;
    border-bottom: 1px solid #CFCD93;
}
.epic-seasons-carousel .epic-seasons-carousel-header h2 .text-2 {
    color: #CFCD93;
}
.epic-seasons-carousel .slick-dots li {
    width: 10px;
}
.epic-seasons-carousel .slick-dots li button:before {
    color: #fff;
    opacity: 1;
}
.epic-seasons-carousel .slick-dots li.slick-active button:before {
    content: '';
    width: 15px;
    height: auto;
    border: 3px solid;
    border-radius: 10px;
    top: 7px;
}
.epic-seasons-carousel .slick-dots li:nth-child(1).slick-active button:before {
    color: #F29DAA;
}
.epic-seasons-carousel .slick-dots li:nth-child(2).slick-active button:before {
    color: #30A56E;
}
.epic-seasons-carousel .slick-dots li:nth-child(3).slick-active button:before {
    color: #EC5D25;
}
.epic-seasons-carousel .slick-dots li:nth-child(4).slick-active button:before {
    color: #83507E;
}
.seasonal-reset-boosters {
    background: #CFCD93;
    color: #fff;
}
.seasonal-reset-boosters .reset,
.seasonal-reset-boosters .boosters {
    height: 100%;
}
.seasonal-reset-boosters .reset h3,
.seasonal-reset-boosters .boosters h3 {
    font-family: "ExtraBold";
    font-size: 40px;
    color: #3C797E;
    text-transform: uppercase;
}
.seasonal-reset-boosters .reset p,
.seasonal-reset-boosters .boosters p {
    font-size: 22px;
    line-height: 37px;
    margin-top: 35px;
}
.seasonal-reset-boosters .reset-img {
    background-image: url("../images/epic-seasons/seasonal-reset.png");
    display: block;
    width: 57px;
    height: 59px;
    background-repeat: no-repeat;
}
.seasonal-reset-boosters .boosters-img {
    background-image: url("../images/epic-seasons/seasonal-boosters.png");
    display: block;
    width: 63px;
    height: 63px;
    background-repeat: no-repeat;
}
.seasonal-reset-boosters .reset:hover h3,
.seasonal-reset-boosters .boosters:hover h3 {
    color: #fff;
}
.seasonal-reset-boosters .reset:hover p,
.seasonal-reset-boosters .boosters:hover p {
    color: #000000;
}
.seasonal-reset-boosters .reset:hover .reset-img {
    background-image: url("../images/epic-seasons/seasonal-reset-hover.png");
}
.seasonal-reset-boosters .boosters:hover .boosters-img {
    background-image: url("../images/epic-seasons/seasonal-boosters-hover.png");
}
.seasonal-awards {
    background-image: url("../images/epic-seasons/seasonal-awards-bg.jpg");
    display: block;
    width: 100%;
    padding: 120px 0;
    background-size: cover;
    color: #fff;
    text-align: center;
    position: relative;
}
.seasonal-awards::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    opacity: 0.6;
}
.seasonal-awards-header,
.seasonal-awards-content{
    position: relative;
    z-index: 2;
}
.seasonal-awards .seasonal-awards-header h3 {
    font-family: "ExtraBold";
    text-transform: uppercase;
    font-size: 60px;
}
.seasonal-awards .seasonal-awards-header p {
    font-size: 28px;
}
.seasonal-awards .seasonal-awards-content .highest-season-points{
    background-image: url("../images/epic-seasons/highest-season-points.png");
    background-repeat: no-repeat;
    margin: 0 auto;
}
.seasonal-awards:hover .highest-season-points{
    background-image: url("../images/epic-seasons/highest-season-points-hover.svg");
    background-repeat: no-repeat;
    margin: 0 auto;
}
.seasonal-awards .seasonal-awards-content .consistent-team{
    background-image: url("../images/epic-seasons/consistent-team.svg");
    
    background-repeat: no-repeat;
    margin: 0 auto;
}
.seasonal-awards:hover .consistent-team{
    background-image: url("../images/epic-seasons/consistent-team-hover.svg");
   
    background-repeat: no-repeat;
    margin: 0 auto;
}
.seasonal-awards .seasonal-awards-content .best-closer{
    background-image: url("../images/epic-seasons/best-closer.png");
   
    background-repeat: no-repeat;
    margin: 0 auto;
}
.seasonal-awards:hover .best-closer{
    background-image: url("../images/epic-seasons/best-closer-hover.svg");
   
    background-repeat: no-repeat;
    margin: 0 auto;
}
.seasonal-awards .seasonal-awards-content .valuable-recruiter{
    background-image: url("../images/epic-seasons/valuable-recruiter.png");
   
    background-repeat: no-repeat;
    margin: 0 auto;
}
.seasonal-awards:hover .valuable-recruiter{
    background-image: url("../images/epic-seasons/valuable-recruiter-hover.svg");
    width: 83px;
    height: 79px;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.seasonal-awards .seasonal-awards-content .predictor{
    background-image: url("../images/epic-seasons/predictor.png");
   
    background-repeat: no-repeat;
    margin: 0 auto;
}
.seasonal-awards:hover .predictor{
    background-image: url("../images/epic-seasons/predictor-hover.svg");
   
    background-repeat: no-repeat;
    margin: 0 auto;
}
.seasonal-awards .seasonal-awards-content .personal-bests{
    background-image: url("../images/epic-seasons/personal-bests.png");
    background-repeat: no-repeat;
    margin: 0 auto;
}
.seasonal-awards:hover .personal-bests{
    background-image: url("../images/epic-seasons/personal-bests-hover.svg");
    background-repeat: no-repeat;
    margin: 0 auto;
}
.seasonal-awards .seasonal-awards-content .records-broken{
    background-image: url("../images/epic-seasons/records-broken.png");
    background-repeat: no-repeat;
    margin: 0 auto;
}
.seasonal-awards:hover .records-broken{
    background-image: url("../images/epic-seasons/records-broken-hover.svg");
    background-repeat: no-repeat;
    margin: 0 auto;
}
.seasonal-awards .seasonal-awards-content .activity-level{
    background-image: url("../images/epic-seasons/activity-level.png");
    width: 56px;
    height: 77px;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.seasonal-awards:hover .activity-level{
    background-image: url("../images/epic-seasons/activity-level-hover.svg");
    background-repeat: no-repeat;
    margin: 0 auto;
}
.seasonal-awards .seasonal-awards-content .seasonal-icon {
    background-size: contain;
    height: 64px;
    background-position: center;
}
.seasonal-awards .seasonal-awards-content p {
    font-size: 28px;
    line-height: 33px;
    width: 80%;
    margin: 30px auto;
}
.points-system {
    background-color: #3C797E;
}
.points-system .points-system-header {
    color: #fff;
}
.points-system .points-system-content {
    background: rgba(255, 255, 255, 0.2);
    padding: 7% 10%;
    height: 100%;
}
.points-system .points-system-content:hover {
    background: #fff;
    color: #CFCD93;
}

.points-system .points-system-content:hover h4{
     color: #CFCD93;
}
.points-system .points-system-content:hover ul li {
    color: #000;
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
}  
.pro-tip-container .pro-tip-left .pro-tip-img {
    height: 50%;
    animation: rotate 20s infinite linear;
}
.pro-tip-container .pro-tip-left {
    position: relative;
    background: url("../images/epic-seasons/bulb.svg") no-repeat;
    background-position: center;
}
.to-permier-container {
    background-color: #000;
    color: #fff;
}
/* leagues explained */
.leagues-explained {
    background-color: #fff;
    padding: 120px 0;
}
.container.leagues-explained-content {
    margin: 50px 0;
}
.leagues-explained .leagues-explained-header {
    margin-bottom: 90px;
    position: relative;
}
.leagues-explained .leagues-explained-header h2 {
    font-family: "ExtraBold";
    font-size: 60px;
    color: #CFCD93;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    background: #fff;
    width: max-content;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    padding: 0 20px;
}
.leagues-explained .leagues-explained-header .title-border-bottom {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 50%;
    border-bottom: 1px solid #CFCD93;
}
.leagues-explained .leagues-explained-header h2 .text-2 {
    color: #3C797E;
}
.leagues-explained-content p {
    margin: 50px auto;
    width: 90%;
    font-size: 22px;
    line-height: 130%;
    min-height: 86px;
}
.leagues-explained-content .leagues-explained-block:not(:last-child) {
    border-right: 1px solid #000;
}
.leagues-explained-block .d2d,
.leagues-explained-block .mdu {
    font-family: "Medium";
    font-size: 33px;
}
.leagues-explained-block .d2d {
    color: #3C797E;
}
.leagues-explained-block .mdu {
    color: #CFCD93;
}
.leagues-explained-block .points {
    font-family: "Light";
    font-size:45px;
       color: #3C797E;
}
.leagues-explained-block .points.txt-black{
    color:#CFCD93
}

.leagues-explained-block .points span {
    font-size: 23px;
}
/* League points system */
.points-system {
    padding: 110px 0 73px;
}
.points-system .points-system-header h3 {
    text-transform: uppercase;
    font-family: "Black";
    font-size: 60px;
    color: #CFCD93;
}
.points-system .points-system-header h3 span {
    color: #fff;
}
.points-system .points-system-header p {
    font-size: 33px;
    line-height: 33px;
    width: 85%;
    margin: 20px auto 40px;
}
.points-system .points-system-content h4 {
    font-family: "Black";
    font-size: 32px;
    text-transform: uppercase;
    width: 50%;
    margin-bottom: 25px;
    color: #CFCD93
}
.points-system .points-system-content ul li {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 10px;
    color: #fff
}
/* protip */
.pro-tip-container {
    padding: 100px 0;
    background: #fff;
}
.pro-tip-container .pro-tip-right h2 {
    font-family: "Black";
    font-size: 56px;
    text-transform: uppercase;
    line-height: 106%;
    color: #3C797E;
}
.pro-tip-container .pro-tip-right h2 span{
    color: #CFCD93;
}
.pro-tip-container .pro-tip-right .count {
    font-family: "Black";
    font-size: 70px;
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: transparent;
}
.pro-tip-container .pro-tip-right h6 {
    font-family: "Black";
    font-size: 33px;
    line-height: 43px;
}
.pro-tip-container .pro-tip-right p {
    font-size: 33px;
    line-height: 33px;
}
.pro-tip-container .pro-tip-right-content > div {
    margin-top: 20px;
}
/* Choose your path */
.to-permier-container {
    padding: 100px 0;
}
.to-permier-container .to-permier-header h3 {
    color: #fff;
    font-family: "Bold";
    font-size: 56px;
    text-transform: uppercase;
}
.to-permier-container .to-permier-header h3 span{
    color: #CFCD93
}
.to-permier-container .to-permier-header p {
    font-size: 28px;
    margin: 40px auto 50px;
    line-height: 33px;
    width: 85%;
}
.to-permier-container .to-permier-block {
    margin-top: 50px;
}
.to-permier-container .to-permier-block .to-permier-content h4 {
    color: #CFCD93;
    font-family: "Bold";
    font-size: 56px;
    text-transform: uppercase;
    width: 50%;
    line-height: 100%;
    transition: all 0.2s ease-in-out;
}
.to-permier-container .to-permier-block .to-permier-content p {
    font-size: 22px;
    width: 90%;
    position: relative;
}
.to-permier-container .to-permier-block .to-permier-content p:after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, black);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: height 0.2s ease-in-out;
}
.to-permier-container .to-permier-block .to-permier-content:hover h4 {
    width: 100%;
    font-size: 22px;
    transition: all 0.2s ease-in-out;
}
.to-permier-container .to-permier-block .to-permier-content:hover p:after {
    height: 0;
    transition: height 0.2s ease-in-out;
}
/* Area managers */
.area-managers {
    background-color: #000;
    color: #fff;
    padding: 50px 0;
}
.area-managers .line-1,
.area-managers .line-3 {
    font-size: 33px;
    margin: 0;
}
.area-managers .line-2 {
    font-family: "Bold";
    font-size: 50px;
    color: #CFCD93;
    text-transform: uppercase;
    margin-top: 10px;
}
.area-managers .line-3 {
    text-transform: uppercase;
    margin: 0;
}


/* applies to small devices (landscape phones, less than 768px) */
/* applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .top-slider .slider-images {
        background-position: 80%;
        height: calc(100vh - 143px);
        background-repeat: no-repeat;
    }
    .top-slider .slider-images .slider-img-2 {
        width: 200px;
        left: 30px;
    }
    .top-slider .slider-logo {
        left: -16px;
    }
    .top-slider .slider-logo h3 {
        font-size: 55px;
        padding-left: 20px;
    }
    .epic-seasons-carousel {
        padding: 50px 0;
    }
    .epic-seasons-carousel .epic-seasons-carousel-header h2 {
        font-size: 30px;
        padding: 0 10px;
    } 
    .epic-seasons-carousel-slider .slick-track .slick-slide {
        padding: 5px;
    }
    .epic-seasons-carousel-slider .slick-track .slick-slide:nth-child(2):before {
        right: 5px;
        top: 20px;
        background-size: 70%;
        background-repeat: no-repeat;
    }
    .epic-seasons-carousel-slider .slick-track .slick-slide:nth-child(2) img {
        border: 2px solid #CFCD93;
    }
    .seasonal-reset-boosters .reset h3, .seasonal-reset-boosters .boosters h3 {
        font-size: 24px;
    }
    .seasonal-reset-boosters .reset-img,
    .seasonal-reset-boosters .boosters-img
    {
        background-size: 50%;
    }
    .seasonal-reset-boosters .reset p, 
    .seasonal-reset-boosters .boosters p {
        font-size: 16px;
        line-height: 28px;
        margin-top: 0px;
        margin-bottom: 0;
    }
    .booster-container {
        border-left: none !important;
    }
    .seasonal-awards {
        padding: 60px 0;
    }
    .seasonal-awards .seasonal-awards-header h3 {
        font-size: 28px;
    }
    .seasonal-awards .seasonal-awards-header p {
        font-size: 16px;
        line-height: 22px;
    }
    .seasonal-awards .seasonal-awards-content .seasonal-icon {
        background-size: contain;
        height: 45px;
        background-position: center;
    }
    .seasonal-awards .seasonal-awards-content .seasonal-icon{
        width: 45px;
    }
    .seasonal-awards-content .col-lg-3.col-6 {
        margin-bottom: 45px;
    }
    .seasonal-awards-content .col-lg-3.col-6:nth-child(odd) {
        padding-right: 7px;
    }
    .seasonal-awards-content .col-lg-3.col-6:nth-child(even) {
        padding-left: 7px;
    }
    .seasonal-awards .seasonal-awards-content p {
        font-size: 18px;
        line-height: 24px;
        margin: 10px auto 10px;
        width: 100%;
    }
    .leagues-explained {
        padding: 60px 0;
    }
    .leagues-explained .leagues-explained-header {
        margin-bottom: 45px;
    }
    .leagues-explained .leagues-explained-header h2 {
        font-size: 24px;
        padding: 0 10px;
    }   
    .points-system {
        padding: 60px 0 30px;
    }
    .points-system .points-system-header h3 {
        font-size: 30px;
    } 
    .points-system .points-system-header p {
        font-size: 18px;
        line-height: 23px;
        width: 100%;
    }
    .points-system .points-system-content h4 {
        font-size: 24px;
        width: 75%;
    }
    .points-system .points-system-content ul li {
        font-size: 16px;
        line-height: 22px;
    }
    .pro-tip-container {
        padding: 50px 0;
    }
    .pro-tip-container .pro-tip-left {
        background-size: 30%;
        position: absolute;
        left: -5px;
        top: 5px;
        width: 100px;
    }
    .pro-tip-container .pro-tip-left .pro-tip-img {
        width: 100%;
        max-width: 250px;
    }
    .pro-tip-container .pro-tip-right h2 {
        font-size: 25px;
        margin-left: 85px;
        margin-bottom: 25px;
        min-height: 53px;
    }
    .pro-tip-container .pro-tip-right-content > div {
        margin-top: 10px;
        align-items: start !important;
    }
    .pro-tip-container .pro-tip-right .count {
        font-size: 35px;
    }
    .pro-tip-container .pro-tip-right h6 {
        font-size: 24px;
        line-height: 43px;
        margin-bottom: 0;
    }
    .pro-tip-container .pro-tip-right p {
        font-size: 16px;
        line-height: 22px;
    }
    .to-permier-container {
        padding: 50px 0;
    }
    .to-permier-container .to-permier-header h3 {
        font-size: 28px;
    }
    .to-permier-container .to-permier-header p {
        font-size: 16px;
        margin: 20px auto 25px;
        line-height: 28px;
        width: 100%;
        text-align: left;
    }
    .to-permier-container .to-permier-block {
        margin-top: 20px;
    }
    .to-permier-container .to-permier-block .to-permier-content {
        margin-bottom: 20px;
    }
    .to-permier-container .to-permier-block .to-permier-content h4 {
        font-size: 22px;
        width: 100%;
    }
    .to-permier-container .to-permier-block .to-permier-content:hover h4 {
        font-size: 22px;
        width: 100%;
    }
    .to-permier-container .to-permier-block .to-permier-content p {
        font-size: 16px;
        width: 100%;
    }
    .to-permier-container .to-permier-block .to-permier-content p:after {
        background: none;
    }
    .area-managers {
        padding: 25px 0 50px;
    }
    .area-managers .line-1, 
    .area-managers .line-3 {
        font-size: 17px;
    }
    .area-managers .line-2 {
        font-size: 25px;
        line-height: 30px;
    }
}

 /* Apply styles starting from medium devices and up to extra large devices */
@media (min-width: 992px) and (max-width: 1399.98px) { 
    .top-slider .slider-images {
        background-position: right;
    }
    .top-slider .slider-images .slider-img-2 {
        width: 75%;
    }   
    .top-slider .slider-logo {
        left: -30px;
    }
    .top-slider .slider-logo h3 {
        font-size: 80px;
        padding-left: 30px;
        line-height: 94%;
    }
    .epic-seasons-carousel {
        padding: 60px 0;
    }
    .epic-seasons-carousel .epic-seasons-carousel-header h2 {
        font-size: 50px;
        margin-bottom: 10px;
    }
    .epic-seasons-carousel .epic-seasons-carousel-header .title-border-bottom {
        bottom: 50%;
    }
    .seasonal-reset-boosters .reset h3,
    .seasonal-reset-boosters .boosters h3 {
        font-size: 40px;
        line-height: 40px;
    }
    .seasonal-reset-boosters .reset-img {
        background-size: 80%;
    }
    .seasonal-reset-boosters .reset p,
    .seasonal-reset-boosters .boosters p {
        font-size: 23px;
        line-height: 30px;
    }
    .seasonal-awards .seasonal-awards-header h3 {
        font-size: 50px;
    }
    .seasonal-awards .seasonal-awards-header p {
        font-size: 24px;
    }
    .seasonal-awards .seasonal-awards-content p {
        font-size: 26px;
        line-height: 28px;
        margin: 20px auto;
    }
    .leagues-explained .leagues-explained-header h2 {
        font-size: 50px;
    }
    .leagues-explained .leagues-explained-header {
        margin-bottom: 50px;
    }
    .col-3.text-center.leagues-explained-block img {
        width: 90%;
        max-width: 216px;
    }
    .leagues-explained-content p {
        width: 90%;
        font-size: 18px;
    }
    .leagues-explained-block .points {
        font-size: 32px;
    }
    .points-system .points-system-header h3 {
        font-size: 50px;
    }
    .points-system .points-system-header p {
        font-size: 28px;
        line-height: 30px;
    }
    .points-system .points-system-content h4 {
        width: 75%;
    }
    .points-system .points-system-content ul li {
        font-size: 20px;
        line-height: 26px;
    }
    .pro-tip-container .pro-tip-left .pro-tip-img {
        width: 100%;
    }
    .pro-tip-container .pro-tip-right h2 {
        font-size: 50px;
    }
    .pro-tip-container .pro-tip-right p {
        font-size: 30px;
    }
    .to-permier-container .to-permier-block .to-permier-content h4 {
        font-size: 46px;
    }
}
 /* `sm` applies to x-small devices (portrait phones, less than 576px) */
 @media (max-width: 767.98px) { 
    .seasonal-reset-boosters .reset p, 
    .seasonal-reset-boosters .boosters p {
        width: 100%;
    }
    .seasonal-reset-boosters .reset-img,
    .seasonal-reset-boosters .boosters-img
    {
        background-position: right top;
    }
    .leagues-explained-content .leagues-explained-block:not(:last-child) {
        border-right: none;
    }
    .leagues-explained-content .slick-prev:before, 
    .leagues-explained-content .slick-next:before {
        color: #000;
    }
    .leagues-explained-content .slick-slide img {
        display: inline;
        width: 60%;
        max-width: 200px;
    }
    .leagues-explained-content p {
        margin: 20px auto 0px;
        width: 70%;
        font-size: 18px;
    }
    .leagues-explained-block .d2d, .leagues-explained-block .mdu {
        font-size: 30px;
    }
    .leagues-explained-block .points {
        font-size: 35px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .leagues-explained-block img {
        width: 90%;
    }
    .leagues-explained-content p {
        margin: 25px auto;
        width: 100%;
        font-size: 18px;
        min-height: 117px;
    }
    .leagues-explained-block .d2d, 
    .leagues-explained-block .mdu {
        font-size: 25px;
    }
    .leagues-explained-block .points {
        font-size: 24px;
    }
}