.top-slider .slider-images {
    position: relative;
    background: url("../images/season-in-spotlight/hero.jpg");
    background-size: cover;
    height: calc(100vh - 205px);
    background-position: center;
}
.top-slider .slider-images .slider-img-1 {
    width: 100%;
}
.top-slider .slider-images .slider-text {
    position: absolute;
    top: calc(50% - 112px);
    left: -45px;
    max-width: 100%;
    z-index: 1;
}
.top-slider .slider-text {
    position: relative;
}
.top-slider .slider-text .hidden-text {
    font-family: "Black";
    font-size: 70px;
    line-height: 75px;
    color: #fff;
    position: absolute;
    text-transform: uppercase;
    width: max-content;
    top: 75px;
    z-index: -1;
    left: 135px;
    opacity: 0;
    transition: all 500ms ease-in-out;
}
.top-slider.show-hidden-text .slider-text .hidden-text {
    left: 100%;
    opacity: 1;
    transition: all 500ms ease-in;
}
marquee {
    background-color: #30A46E;
}
.march-may {
    max-height: 580px;
    background-color: #000;
    position: relative;
    min-height: 400px;
}
.march-may-right {
    overflow: hidden;
}
.march-may-img {
    max-width: 100%;
    scale: 1;
    transition: all 500ms ease-in-out;
    background-image: url(../images/season-in-spotlight/march-may.jpg);
    width: 100%;
    height: 100%;
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}
.march-may-text {
    position: absolute;
    left: 0;
    width: 100%;
    font-family: "Bold";
    line-height: 94.5%;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-flow: column;
    transition: all 500ms ease-in-out;
} 
.march-may-text .march-may-text-block {
    width: 70%;
    transition: all 500ms ease-in-out;
}
.march-may-text .month {
    font-size: 48px;
    color: #fff;
    line-height: 94.5%;
    transition: all 500ms ease-in-out;
}
.march-may-text h2 {
    color: #FCCA46;
    font-size: 95px;
    line-height: 94.5%;
    margin-top: 20px;
    transition: font-size 500ms ease-in-out;
}
.march-may:hover .march-may-img {
    scale: 1.1;
    transition: all 500ms ease-in-out;
}
.march-may:hover .march-may-text {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    transition: all 500ms ease-in-out;
}
.march-may:hover .march-may-text .month {
    font-size: 57px;
    transition: all 500ms ease-in-out;
}
.march-may:hover .march-may-text .march-may-text-block {
    width: 80%;
    transition: width 500ms ease-in-out;
}
.march-may:hover .march-may-text .march-may-text-block h2 {
    font-size: 105px;
    transition: font-size 500ms ease-in-out;
}
.impact{
    position: relative;
    background-image: url(../images/season-in-spotlight/impact.png);
    background-position: center;
    background-size: cover;
}
.img-absolute{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left:0
}
.impact .text{
   position: absolute;
   width: 60%;
    bottom: 53px;
    left: 30%;
    z-index: 2;
}
.impact h2{
     color: #FCCA46;
    font-family: "ExtraBold";
    font-size: 50px;
    text-transform: uppercase;
    line-height: 100%;
   
}
.impact-content{
    padding: 110px 80px 110px 80px;
}
.impact-content-wrap{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row;
}
.w-ls{
    width: 320px;
}
.w-rs{
    width: calc(100% - 320px);
}
.border-b{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.impact-content h3{
    color: #30A46E;
    font-family: "ExtraBold";
    font-size: 40px;
    text-transform: uppercase;
    line-height: 100%;
   
}
.impact-content p{
    color: #fff;
    font-size: 28px;
    font-family: 'Regular';
    line-height: 100%;
}
.season-in-spotlight-info {
    background-color: #30A46E;
}
.season-in-spotlight-info .description {
    padding: 100px 50px;
    color: #fff;
}
.season-in-spotlight-info .description h3 {
    font-family: "ExtraBold";
    font-size: 50px;
    text-transform: uppercase;
    width: 75%;
    line-height: 100%;
}
.season-in-spotlight-info .description h3:hover {
    color: #000;
}
.season-in-spotlight-info .description p {
    font-size: 33px;
    line-height: 100%;
    margin-top: 40px;
}
/* Gifts */
.gifts .gift-details > div {
    position: relative;
    scale: 1;
    transition: scale 200ms ease-in-out;
}
.gifts .gift-details > div:hover {
    scale: 1.05;
    overflow: hidden;
    transition: scale 200ms ease-in-out;
}
.gifts .gift-details span {
    font-family: "Bold";
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    line-height: 100%;
    width: 75%;
}
.gifts .gift-details {
    overflow: hidden;
}
.gifts .gift-details span.bottom-left {
    bottom: 15px;
    left: 15px;
}
.gifts .gift-details span.top-right {
    top: 15px;
    right: 15px;
    text-align: right;
}
.gifts .gift-details span.top-left {
    top: 15px;
    left: 15px;
}
.gifts .gift-details .hat span{
    color: #FCCA46
}

/* applies to small devices (landscape phones, less than 768px) */
/* applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .top-slider .slider-images {
        background: url(../images/season-in-spotlight/slider-mobile.jpg);
        background-size: cover;
        height: calc(100vh - 143px);
        background-position: center;
    }
    .top-slider .slider-images .slider-img-2 {
        width: 400px;
        left: -35px;
        position: relative;
    }
    .top-slider .slider-images .slider-text {
        left: auto;
    }
    .top-slider .slider-text .hidden-text {
        font-size: 35px;
        line-height: 33px;
        top: 0;
        left: auto;
        opacity: 1;
        position: relative;
    }
    .top-slider.show-hidden-text .slider-text .hidden-text {
        left: auto;
        top: 0;
    }
    .march-may{
        min-height: 300px;
    }
    /* march may */
    .march-may-img{
        background-size: cover;
        background-position: center;
    }
    .march-may-text .month {
        font-size: 22px;
        line-height: 94%;
    }
    .march-may-text .month img {
        width: 22px;
    }
    .march-may-text h2 {
        font-size: 37px;
        line-height: 94%;
    }
    .march-may .march-may-text {
        background-color: rgba(0, 0, 0, 0.8);
    }
    .march-may:hover .march-may-text .month {
        font-size: 28px;
    }
    .march-may:hover .march-may-text .march-may-text-block h2 {
        font-size: 43px;
    }
    /* 3 column */
    .season-in-spotlight-info {
        padding: 25px 0 !important;
    }
    .season-in-spotlight-info .description {
        padding: 10px 0;
    }
    .season-in-spotlight-info .description h3 {
        font-size: 25px;
        line-height: 88%;
        width: 100%;
    }
    .season-in-spotlight-info .description p {
        font-size: 16px;
        line-height: 18px;
        margin-top: 15px;
    }
    .season-in-spotlight-info .col-12 {
        padding: 0;
    }
    /* gifts */
    .gifts {
        padding-bottom: 50px;
        background: #000;
    }
    .gifts .gift-details span {
        font-size: 22px;
        line-height: 110%;
    }
    .impact{
        background-position: center ;
       padding: 30px 0;
        position: relative;
        background-image: url(../images/season-in-spotlight/impact-mobile-bg.jpg);
    }

    .impact h2{
        font-size: 37px;
         z-index: 2;
          position: relative;
    }
    .impact-content{
        padding: 20px 0; 
         z-index: 2;
          position: relative;
    }
    .w-ls{
        width: 100%;
    }
    .w-rs{
        width: 100%;
    }
    .impact-content h3{
         font-size: 25px;
        line-height: 88%;
    }
    .impact-content p{
         font-size: 18px;
        line-height: 22px;
    }
    .impact-content-wrap{
        flex-flow: column;
    }
    .impact .text{
        left: 17%
    }
}

 /* Apply styles starting from medium devices and up to extra large devices */
@media (min-width: 992px) and (max-width: 1399.98px) { 
    .top-slider .slider-images .slider-text {
        top: 35%;
        left: -40px;
    }
    .top-slider .slider-images .slider-text .slider-img-2 {
        width: 75%;
    }   
    .top-slider .slider-text .hidden-text {
        font-size: 52px;
        line-height: 50px;
        top: 32px;
    }
    .top-slider.show-hidden-text .slider-text .hidden-text {
        left: 78%;
    }
    /* march may month */
    .march-may-text .month {
        font-size: 38px;
    }
    .march-may-text .month img {
        width: 40px;
    }
    .march-may-text h2 {
        font-size: 55px;
    }
    .march-may:hover .march-may-text .month {
        font-size: 47px;
    }
    .march-may:hover .march-may-text .march-may-text-block h2 {
        font-size: 65px;
    }
    /* 3 column */
    .season-in-spotlight-info .description {
        padding: 50px 0;
    }
    .season-in-spotlight-info .description h3 {
        font-size: 40px;
    }
    .season-in-spotlight-info .description p {
        font-size: 24px;
    }
    /* gifts */
    .gifts .gift-details span {
        font-size: 30px;
    }
}

 /* `sm` applies to x-small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 
    .top-slider .slider-images .slider-img-2 {
        width: 100%;
        left: -23px;
        position: relative;
    }
    .top-slider .slider-text .hidden-text {
        top: 0;
    }
    .top-slider:hover .slider-text .hidden-text {
        top: 0;
    }
    .top-slider .slider-images .slider-text {
        top: calc(50% - 103px);
    }
}