svg .svg-elem-1 {
    stroke-dashoffset: 474.26849365234375px;
    stroke-dasharray: 474.26849365234375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
  }
  
  svg.active .svg-elem-1 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-2 {
    stroke-dashoffset: 529.7088623046875px;
    stroke-dasharray: 529.7088623046875px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
  }
  
  svg.active .svg-elem-2 {
    stroke-dashoffset: 0;
    fill: rgb(242, 157, 170);
  }
  
  svg .svg-elem-3 {
    stroke-dashoffset: 1345.089599609375px;
    stroke-dasharray: 1345.089599609375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
  }
  
  svg.active .svg-elem-3 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-4 {
    stroke-dashoffset: 834.7539672851562px;
    stroke-dasharray: 834.7539672851562px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.6000000000000001s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.30000000000000004s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.6000000000000001s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.30000000000000004s;
  }
  
  svg.active .svg-elem-4 {
    stroke-dashoffset: 0;
    fill: rgb(242, 157, 170);
  }
  
  svg .svg-elem-5 {
    stroke-dashoffset: 627.9320068359375px;
    stroke-dasharray: 627.9320068359375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.8s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.8s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
  }
  
  svg.active .svg-elem-5 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-6 {
    stroke-dashoffset: 1034.781005859375px;
    stroke-dasharray: 1034.781005859375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 1s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 1s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
  }
  
  svg.active .svg-elem-6 {
    stroke-dashoffset: 0;
    fill: rgb(242, 157, 170);
  }
  
  svg .svg-elem-7 {
    stroke-dashoffset: 1034.7841796875px;
    stroke-dasharray: 1034.7841796875px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 1.2000000000000002s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6000000000000001s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 1.2000000000000002s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6000000000000001s;
  }
  
  svg.active .svg-elem-7 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-8 {
    stroke-dashoffset: 1184.7552490234375px;
    stroke-dasharray: 1184.7552490234375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 1.4000000000000001s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 1.4000000000000001s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s;
  }
  
  svg.active .svg-elem-8 {
    stroke-dashoffset: 0;
    fill: rgb(242, 157, 170);
  }
  
  svg .svg-elem-9 {
    stroke-dashoffset: 1240.783447265625px;
    stroke-dasharray: 1240.783447265625px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 1.6s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 1.6s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  }
  
  svg.active .svg-elem-9 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-10 {
    stroke-dashoffset: 1422.8226318359375px;
    stroke-dasharray: 1422.8226318359375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 1.8s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 1.8s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
  }
  
  svg.active .svg-elem-10 {
    stroke-dashoffset: 0;
    fill: rgb(242, 157, 170);
  }
  
  svg .svg-elem-11 {
    stroke-dashoffset: 1184.74365234375px;
    stroke-dasharray: 1184.74365234375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 2s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 2s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  }
  
  svg.active .svg-elem-11 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-12 {
    stroke-dashoffset: 1292.526611328125px;
    stroke-dasharray: 1292.526611328125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 2.2s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 2.2s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  }
  
  svg.active .svg-elem-12 {
    stroke-dashoffset: 0;
    fill: rgb(242, 157, 170);
  }
  
  svg .svg-elem-13 {
    stroke-dashoffset: 831.328369140625px;
    stroke-dasharray: 831.328369140625px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 2.4000000000000004s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 2.4000000000000004s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
  }
  
  svg.active .svg-elem-13 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-14 {
    stroke-dashoffset: 831.328369140625px;
    stroke-dasharray: 831.328369140625px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 2.6s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 2.6s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
  }
  
  svg.active .svg-elem-14 {
    stroke-dashoffset: 0;
    fill: rgb(242, 157, 170);
  }
  
  svg .svg-elem-15 {
    stroke-dashoffset: 1134.8607177734375px;
    stroke-dasharray: 1134.8607177734375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8000000000000003s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8000000000000003s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
  }
  
  svg.active .svg-elem-15 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-16 {
    stroke-dashoffset: 1362.880126953125px;
    stroke-dasharray: 1362.880126953125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 3s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 3s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
  }
  
  svg.active .svg-elem-16 {
    stroke-dashoffset: 0;
    fill: rgb(242, 157, 170);
  }
  
  svg .svg-elem-17 {
    stroke-dashoffset: 1292.58740234375px;
    stroke-dasharray: 1292.58740234375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 3.2s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 3.2s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
  }
  
  svg.active .svg-elem-17 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-18 {
    stroke-dashoffset: 980.2886352539062px;
    stroke-dasharray: 980.2886352539062px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 3.4000000000000004s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 3.4000000000000004s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
  }
  
  svg.active .svg-elem-18 {
    stroke-dashoffset: 0;
    fill: rgb(242, 157, 170);
  }
  
  svg .svg-elem-19 {
    stroke-dashoffset: 1195.155517578125px;
    stroke-dasharray: 1195.155517578125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 3.6s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 3.6s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
  }
  
  svg.active .svg-elem-19 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-20 {
    stroke-dashoffset: 933.0325927734375px;
    stroke-dasharray: 933.0325927734375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 3.8000000000000003s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 3.8000000000000003s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
  }
  
  svg.active .svg-elem-20 {
    stroke-dashoffset: 0;
    fill: rgb(242, 157, 170);
  }
  
  svg .svg-elem-21 {
    stroke-dashoffset: 1201.03955078125px;
    stroke-dasharray: 1201.03955078125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 4s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 4s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
  }
  
  svg.active .svg-elem-21 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-22 {
    stroke-dashoffset: 1194.966552734375px;
    stroke-dasharray: 1194.966552734375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 4.2s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 4.2s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
  }
  
  svg.active .svg-elem-22 {
    stroke-dashoffset: 0;
    fill: rgb(242, 157, 170);
  }
  
  svg .svg-elem-23 {
    stroke-dashoffset: 4309.474609375px;
    stroke-dasharray: 4309.474609375px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 4.4s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 4.4s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
  }
  
  svg.active .svg-elem-23 {
    stroke-dashoffset: 0;
  }
  
  svg .svg-elem-24 {
    stroke-dashoffset: 31.86015238241813px;
    stroke-dasharray: 31.86015238241813px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 4.6000000000000005s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3000000000000003s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 4.6000000000000005s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3000000000000003s;
  }
  
  svg.active .svg-elem-24 {
    stroke-dashoffset: 0;
    fill: rgb(217, 217, 217);
  }
  
  svg .svg-elem-25 {
    stroke-dashoffset: 31.86015238241813px;
    stroke-dasharray: 31.86015238241813px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 4.800000000000001s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 4.800000000000001s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s;
  }
  
  svg.active .svg-elem-25 {
    stroke-dashoffset: 0;
    fill: rgb(217, 217, 217);
  }
  
  svg .svg-elem-26 {
    stroke-dashoffset: 31.86015238241813px;
    stroke-dasharray: 31.86015238241813px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 5s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 5s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
  }
  
  svg.active .svg-elem-26 {
    stroke-dashoffset: 0;
    fill: rgb(217, 217, 217);
  }
  
  svg .svg-elem-27 {
    stroke-dashoffset: 31.86015238241813px;
    stroke-dasharray: 31.86015238241813px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 5.2s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 5.2s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
  }
  
  svg.active .svg-elem-27 {
    stroke-dashoffset: 0;
    fill: rgb(217, 217, 217);
  }
  
  svg .svg-elem-28 {
    stroke-dashoffset: 31.86015238241813px;
    stroke-dasharray: 31.86015238241813px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 5.4s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 5.4s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
  }
  
  svg.active .svg-elem-28 {
    stroke-dashoffset: 0;
    fill: rgb(217, 217, 217);
  }
  
  svg .svg-elem-29 {
    stroke-dashoffset: 31.86015238241813px;
    stroke-dasharray: 31.86015238241813px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 5.6000000000000005s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8000000000000003s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 5.6000000000000005s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8000000000000003s;
  }
  
  svg.active .svg-elem-29 {
    stroke-dashoffset: 0;
    fill: rgb(217, 217, 217);
  }
  
  svg .svg-elem-30 {
    stroke-dashoffset: 24.21441469079183px;
    stroke-dasharray: 24.21441469079183px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 5.800000000000001s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9000000000000004s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 5.800000000000001s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9000000000000004s;
  }
  
  svg.active .svg-elem-30 {
    stroke-dashoffset: 0;
    fill: rgb(217, 217, 217);
  }
  
  svg .svg-elem-31 {
    stroke-dashoffset: 31.86015238241813px;
    stroke-dasharray: 31.86015238241813px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 6s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 6s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3s;
  }
  
  svg.active .svg-elem-31 {
    stroke-dashoffset: 0;
    fill: rgb(217, 217, 217);
  }
  
  svg .svg-elem-32 {
    stroke-dashoffset: 31.86015238241813px;
    stroke-dasharray: 31.86015238241813px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 6.2s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 6.2s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1s;
  }
  
  svg.active .svg-elem-32 {
    stroke-dashoffset: 0;
    fill: rgb(217, 217, 217);
  }
  
  svg .svg-elem-33 {
    stroke-dashoffset: 31.86015238241813px;
    stroke-dasharray: 31.86015238241813px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 6.4s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 6.4s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
  }
  
  svg.active .svg-elem-33 {
    stroke-dashoffset: 0;
    fill: rgb(217, 217, 217);
  }
  
  svg .svg-elem-34 {
    stroke-dashoffset: 11.640095710754395px;
    stroke-dasharray: 11.640095710754395px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 6.6000000000000005s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.3000000000000003s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 6.6000000000000005s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.3000000000000003s;
  }
  
  svg.active .svg-elem-34 {
    stroke-dashoffset: 0;
    fill: rgb(58, 167, 203);
  }
  
  svg .svg-elem-35 {
    stroke-dashoffset: 186.21385192871094px;
    stroke-dasharray: 186.21385192871094px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 6.800000000000001s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.4000000000000004s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 6.800000000000001s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.4000000000000004s;
  }
  
  svg.active .svg-elem-35 {
    stroke-dashoffset: 0;
    fill: rgb(58, 167, 203);
  }
  
  svg .svg-elem-36 {
    stroke-dashoffset: 11.684988021850586px;
    stroke-dasharray: 11.684988021850586px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 7s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 7s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5s;
  }
  
  svg.active .svg-elem-36 {
    stroke-dashoffset: 0;
    fill: rgb(58, 167, 203);
  }
  
  svg .svg-elem-37 {
    stroke-dashoffset: 218.52088928222656px;
    stroke-dasharray: 218.52088928222656px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 7.2s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.6s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 7.2s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.6s;
  }
  
  svg.active .svg-elem-37 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-38 {
    stroke-dashoffset: 448.16900634765625px;
    stroke-dasharray: 448.16900634765625px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 7.4s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.7s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 7.4s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.7s;
  }
  
  svg.active .svg-elem-38 {
    stroke-dashoffset: 0;
    fill: rgb(236, 93, 37);
  }
  
  svg .svg-elem-39 {
    stroke-dashoffset: 425.02215576171875px;
    stroke-dasharray: 425.02215576171875px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 7.6000000000000005s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.8000000000000003s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 7.6000000000000005s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.8000000000000003s;
  }
  
  svg.active .svg-elem-39 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-40 {
    stroke-dashoffset: 848.2827758789062px;
    stroke-dasharray: 848.2827758789062px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 7.800000000000001s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.9000000000000004s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 7.800000000000001s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.9000000000000004s;
  }
  
  svg.active .svg-elem-40 {
    stroke-dashoffset: 0;
    fill: rgb(236, 93, 37);
  }
  
  svg .svg-elem-41 {
    stroke-dashoffset: 57.59300231933594px;
    stroke-dasharray: 57.59300231933594px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 8s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 8s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4s;
  }
  
  svg.active .svg-elem-41 {
    stroke-dashoffset: 0;
    fill: rgb(236, 93, 37);
  }
  
  svg .svg-elem-42 {
    stroke-dashoffset: 55.14890670776367px;
    stroke-dasharray: 55.14890670776367px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 8.200000000000001s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.1000000000000005s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 8.200000000000001s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.1000000000000005s;
  }
  
  svg.active .svg-elem-42 {
    stroke-dashoffset: 0;
    fill: rgb(236, 93, 37);
  }
  
  svg .svg-elem-43 {
    stroke-dashoffset: 411.9076843261719px;
    stroke-dasharray: 411.9076843261719px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 8.4s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.2s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 8.4s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.2s;
  }
  
  svg.active .svg-elem-43 {
    stroke-dashoffset: 0;
    fill: rgb(236, 93, 37);
  }
  
  svg .svg-elem-44 {
    stroke-dashoffset: 111.60137939453125px;
    stroke-dasharray: 111.60137939453125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 8.6s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.3s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 8.6s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.3s;
  }
  
  svg.active .svg-elem-44 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-45 {
    stroke-dashoffset: 130.90670776367188px;
    stroke-dasharray: 130.90670776367188px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 8.8s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.4s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 8.8s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.4s;
  }
  
  svg.active .svg-elem-45 {
    stroke-dashoffset: 0;
    fill: rgb(236, 93, 37);
  }
  
  svg .svg-elem-46 {
    stroke-dashoffset: 268.731689453125px;
    stroke-dasharray: 268.731689453125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 9s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.5s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 9s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.5s;
  }
  
  svg.active .svg-elem-46 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-47 {
    stroke-dashoffset: 64.28608703613281px;
    stroke-dasharray: 64.28608703613281px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 9.200000000000001s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.6000000000000005s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 9.200000000000001s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.6000000000000005s;
  }
  
  svg.active .svg-elem-47 {
    stroke-dashoffset: 0;
    fill: rgb(21, 23, 22);
  }
  
  svg .svg-elem-48 {
    stroke-dashoffset: 89.83647918701172px;
    stroke-dasharray: 89.83647918701172px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 9.4s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.7s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 9.4s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.7s;
  }
  
  svg.active .svg-elem-48 {
    stroke-dashoffset: 0;
    fill: rgb(21, 23, 22);
  }
  
  svg .svg-elem-49 {
    stroke-dashoffset: 87.23113250732422px;
    stroke-dasharray: 87.23113250732422px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 9.600000000000001s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.800000000000001s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 9.600000000000001s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.800000000000001s;
  }
  
  svg.active .svg-elem-49 {
    stroke-dashoffset: 0;
    fill: rgb(21, 23, 22);
  }
  
  svg .svg-elem-50 {
    stroke-dashoffset: 102.06363677978516px;
    stroke-dasharray: 102.06363677978516px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 9.8s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.9s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 9.8s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.9s;
  }
  
  svg.active .svg-elem-50 {
    stroke-dashoffset: 0;
    fill: rgb(21, 23, 22);
  }
  
  svg .svg-elem-51 {
    stroke-dashoffset: 108.01289367675781px;
    stroke-dasharray: 108.01289367675781px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 10s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 10s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5s;
  }
  
  svg.active .svg-elem-51 {
    stroke-dashoffset: 0;
    fill: rgb(21, 23, 22);
  }
  
  svg .svg-elem-52 {
    stroke-dashoffset: 112.7552490234375px;
    stroke-dasharray: 112.7552490234375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 10.200000000000001s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.1000000000000005s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 10.200000000000001s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.1000000000000005s;
  }
  
  svg.active .svg-elem-52 {
    stroke-dashoffset: 0;
    fill: rgb(21, 23, 22);
  }
  
  svg .svg-elem-53 {
    stroke-dashoffset: 127.02532196044922px;
    stroke-dasharray: 127.02532196044922px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 10.4s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.2s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 10.4s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.2s;
  }
  
  svg.active .svg-elem-53 {
    stroke-dashoffset: 0;
    fill: rgb(21, 23, 22);
  }
  
  svg .svg-elem-54 {
    stroke-dashoffset: 121.46976470947266px;
    stroke-dasharray: 121.46976470947266px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 10.600000000000001s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.300000000000001s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 10.600000000000001s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.300000000000001s;
  }
  
  svg.active .svg-elem-54 {
    stroke-dashoffset: 0;
    fill: rgb(21, 23, 22);
  }
  
  svg .svg-elem-55 {
    stroke-dashoffset: 51.75817108154297px;
    stroke-dasharray: 51.75817108154297px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 10.8s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.4s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 10.8s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.4s;
  }
  
  svg.active .svg-elem-55 {
    stroke-dashoffset: 0;
    fill: rgb(21, 23, 22);
  }
  
  svg .svg-elem-56 {
    stroke-dashoffset: 52.22003173828125px;
    stroke-dasharray: 52.22003173828125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 11s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.5s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 11s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.5s;
  }
  
  svg.active .svg-elem-56 {
    stroke-dashoffset: 0;
    fill: rgb(21, 23, 22);
  }
  
  svg .svg-elem-57 {
    stroke-dashoffset: 61.594539642333984px;
    stroke-dasharray: 61.594539642333984px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 11.200000000000001s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.6000000000000005s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 11.200000000000001s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.6000000000000005s;
  }
  
  svg.active .svg-elem-57 {
    stroke-dashoffset: 0;
    fill: rgb(21, 23, 22);
  }
  
  svg .svg-elem-58 {
    stroke-dashoffset: 53.42429733276367px;
    stroke-dasharray: 53.42429733276367px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 11.4s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.7s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 11.4s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.7s;
  }
  
  svg.active .svg-elem-58 {
    stroke-dashoffset: 0;
    fill: rgb(21, 23, 22);
  }
  
  svg .svg-elem-59 {
    stroke-dashoffset: 28.63214111328125px;
    stroke-dasharray: 28.63214111328125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 11.600000000000001s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.800000000000001s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 11.600000000000001s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.800000000000001s;
  }
  
  svg.active .svg-elem-59 {
    stroke-dashoffset: 0;
    fill: rgb(21, 23, 22);
  }
  
  svg .svg-elem-60 {
    stroke-dashoffset: 49.160362243652344px;
    stroke-dasharray: 49.160362243652344px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 11.8s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.9s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 11.8s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.9s;
  }
  
  svg.active .svg-elem-60 {
    stroke-dashoffset: 0;
    fill: rgb(21, 23, 22);
  }
  
  svg .svg-elem-61 {
    stroke-dashoffset: 52.17989730834961px;
    stroke-dasharray: 52.17989730834961px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 12s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 12s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6s;
  }
  
  svg.active .svg-elem-61 {
    stroke-dashoffset: 0;
    fill: rgb(21, 23, 22);
  }
  
  svg .svg-elem-62 {
    stroke-dashoffset: 44.028472900390625px;
    stroke-dasharray: 44.028472900390625px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 12.200000000000001s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.1000000000000005s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 12.200000000000001s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.1000000000000005s;
  }
  
  svg.active .svg-elem-62 {
    stroke-dashoffset: 0;
    fill: rgb(21, 23, 22);
  }
  
  svg .svg-elem-63 {
    stroke-dashoffset: 28.686975479125977px;
    stroke-dasharray: 28.686975479125977px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 12.4s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.2s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 12.4s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.2s;
  }
  
  svg.active .svg-elem-63 {
    stroke-dashoffset: 0;
    fill: rgb(21, 23, 22);
  }
  
  svg .svg-elem-64 {
    stroke-dashoffset: 49.29086685180664px;
    stroke-dasharray: 49.29086685180664px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 12.600000000000001s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.300000000000001s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 12.600000000000001s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.300000000000001s;
  }
  
  svg.active .svg-elem-64 {
    stroke-dashoffset: 0;
    fill: rgb(21, 23, 22);
  }
  
  svg .svg-elem-65 {
    stroke-dashoffset: 52.22941970825195px;
    stroke-dasharray: 52.22941970825195px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 12.8s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.4s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 12.8s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.4s;
  }
  
  svg.active .svg-elem-65 {
    stroke-dashoffset: 0;
    fill: rgb(21, 23, 22);
  }
  
  svg .svg-elem-66 {
    stroke-dashoffset: 570px;
    stroke-dasharray: 570px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 13s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.5s;
            transition: stroke-dashoffset 1s cubic-bezier(0.645, 0.045, 0.355, 1) 13s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.5s;
  }
  
  svg.active .svg-elem-66 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
  }
  